.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 10px;
  padding: 1em 0em;
  margin: 500px;
}


.ui.menu .ui.button {
  margin-left: 0.5em;
}
.ui.menu .ui.fixed.menu{
  width:100% !important;
}
.ui.segment  {
    border-radius: 0px !important;
}

.grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em; /*marge interieur*/
}

.secondary.pointing.menu .toc.item {
  display: none;
  padding: 0em 0em;
  margin:0;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu {
    display: block;
  }

  h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}.footer.segment {
      padding: 5em 0em;
    }

div.five.wide.column{

  text-align: center;

}

/*marge du site*/
.conteneur , .column{
  margin : auto;
  width: 100%;
}

#separateur{
  margin-left :auto;
  margin-right: auto;
  width:100%;
}



#acc_menu{
  margin-left: 1%;
}


.footer {
  bottom: 0;
  width: 100%;
  
}

.logo_barre1{
  width: 90%;
  height: 85%;
  margin-right: 2%;
  
}

.logo{

  margin-left: 2%;
}

.logo_barre{
  width: 4%;
  height: 3%;
  margin-left: 2%;
  margin-right: 2%;
  
}
/*#connexction1{
  margin-left: 518px;
}
#inscription1{
  margin-left: 5px;
}*/

/*#connexction{
  margin-right: 5px;
}

#inscription{
  margin-right: 110px;
}*/



/* ************************** footer social icons *********************** */

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
.social-network a.icoRss:hover {
  background-color: #F56505;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.social {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}
.entreprise{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}



